#body
{
    color: aquamarine;
    margin-left: 400px;
    margin-top: 125px;
 
}
#main{
    height: 200px;
    width: 400px;
    margin-top: -190px;
    margin-left: -75px;
}
#button1{
    height: 200px;
    width: 400px;
    margin-top: -300px;
    margin-left: 540px;
}
#button2{
    height: 200px;
    width: 400px;
    margin-top: -300px;
    margin-left: 327px;
}
#button3{
    height: 200px;
    width: 400px;
    margin-top: -300px;
    margin-left: 197px;
}
#Mainimage{
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 0px;
    margin-left: -425px;
}
#button {
    cursor: pointer;
    margin: auto;
    font-size: medium;
    display:flexbox;
    background-color: aqua;
    
}
#buttonposition {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: aqua;
}